<div class="gallery-container">
  <ng-container *ngFor="let media of photos">
    <div class="gallery-item" [ngClass]="{'loaded': media.loaded}" [style.gridRowEnd]="'span ' + media.rowSpan">
      <img *ngIf="isImage(media.src)" [src]="media.src" alt="Photo" (load)="onMediaLoaded(media)" />
      <video *ngIf="isVideo(media.src)" [src]="media.src" autoplay muted loop (loadeddata)="onMediaLoaded(media)"></video>
    </div>
  </ng-container>
</div>

<div infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="150"
     (scrolled)="loadMore()">
</div>

<!-- Loader -->
<div class="loader" *ngIf="isLoading">Caricamento...</div>
