/* You can add global styles to this file, and also import other style files */
/* Stile per la barra di scorrimento */
::-webkit-scrollbar {
  width: 12px; /* Larghezza della barra */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Colore dello sfondo della barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4caf50, #81c784); /* Colore gradiente del cursore */
  border-radius: 10px;
  border: 2px solid #121212; /* Spazio intorno al cursore */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #66bb6a, #a5d6a7); /* Colore quando passa il mouse */
}
